<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tomtep">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo_127px"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_127px"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ExpandProductActivity"
            android:exported="false" />
        <activity
            android:name=".ExpandLakeActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpAcitivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>